#main-form {
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(./images/cactus.jpg);
    background-position: center;
    background-size: cover;
    overflow: auto;
}

.my-form {
    display: flex;
    justify-content: space-around;
    font-size: large;
    flex-wrap: wrap;
}

.form-container {
    margin: 1em;
    padding: 1em;
    border-radius: 25px;
    background-color: #F0D37Eff;
}

.form-label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.text-like {
    padding: 0.5em;
    border-radius: 25px;
}

.list-like {
    margin: 0.5em;
}

.select {
    padding: 0.5em;
    font-size: medium;
}

#form-button {
    border-radius: 25px;
    padding: 0.7em;
    width: fit-content;
    background-color: #B8492Dff;
}