#main-form {
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(./images/cactus.jpg);
    background-position: center;
    background-size: cover;
    overflow: auto;
}

.my-form {
    display: flex;
    justify-content: space-around;
    font-size: large;
    flex-wrap: wrap;
}

.form-container {
    margin: 1em;
    padding: 1em;
    border-radius: 25px;
    background-color: #6D9247ff;
    box-shadow: 5px 5px 5px #00000077;
}

.form-label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.text-like {
    padding: 0.5em;
    border-radius: 25px;
    font-size: medium;
}

.list-like {
    margin: 0.5em;
}

select {
    padding: 0.5em;
    font-size: medium;
    border-radius: 25px;
}

textarea {
    font-size: medium;
    padding: 1em;
    border-radius: 25px;
}

input:invalid {
    border-color: red;
}

textarea:invalid {
    border-color: red;
}

button {
    font-size: medium;
    background-color: #B8492Dff;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 25px;
    padding: 0.7em;
    margin-bottom: 1em;
    font-weight: bold;
    box-shadow: 5px 5px 5px #00000077;
}

button:hover,
button:focus,
button:active {
    background-color: #D6D58E;
    cursor: pointer;
}