* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    background-color: #1C2B0Eff;
    width: 100%;
}

.navbar a {
    font-size: 18px;
    font-weight: bold;
}

.navbar-current {
    text-decoration: underline;
    color: #D6D58E;
}

.navbar a:hover {
    color: lightgrey;
}

.navbar ul {
    list-style-type: none;
    display: flex;
}

.navbar ul li {
    margin: 0.5em;
}

.footer {
    background-color: lightgray;
    width: 100%;
}

.main {
    /* background-color: plum; */
    height: 100vh;
    /* width: 100vw; */
    display: flex;
    align-items: center;
}

.column {
    flex-direction: column;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.full {
    height: 100%;
    width: 100%;
}

.button {
    background-color: #1C2B0Eff;
    border-radius: 25px;
    padding: 0.7em;
    width: fit-content;
}

.content-container {
    width: 70%;
    height: 70%;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.text-container {
    /* background-color: bisque; */
    width: 100%;
    font-size: 25px;
}

.text-container p {
    margin: 1em;
}

.text-container h1 {
    margin: 0.3em 0.3em;
    color: #639401ff;
}