* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    background-color: blue;
    /* position: fixed;
    top: 0;
    width: 100%; */
}

.navbar .logo {
    font-size: x-large;
    font-weight: bold;
}

.navbar a {
    font-size: 18px;
    font-weight: bold;
}

.navbar a:hover {
    color: lightblue;
}

.navbar ul {
    list-style-type: none;
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.main {
    /* background-color: plum; */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.full {
    height: 100%;
    width: 100%;
}