#home-image {
    /* background-color: aqua; */
    object-fit: contain;
}

#home-left {
    /* background-color: brown; */
    width: 40%;
    height: 100%;
}

#home-right {
    /* background-color: green; */
    width: 60%;
    height: 100%;
}