.subpage-layout {
    /* background-color: green; */
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.subpage-img {
    object-fit: contain;
    background-color: aliceblue;
}